:root {
  --color-primary: #17191f;
  --color-secondary: #ffffff;
  --color-accent: #d8901a;
  --color-heading: #1d2329;
  --color-body: #717b8c;
  --color-positive: #1aad6f;
  --colot-negative: #ef485e;
}

/* text */

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
}

:lang(th) {
  font-family: "Prompt", sans-serif;
}

h2 {
  font-size: 3rem;
  color: var(--color-heading);
}

/* list */

.list {
  list-style: none;
  padding-left: 0;
  font-size: 1.5rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 3rem;
}

/* nav */

.container {
  background: #17191f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__logo {
  margin: 0 0.7rem 0 3rem;
  width: 8rem;
}

.nav__logo-back {
  width: 7rem;
}

.nav__logo-clipping {
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
  position: absolute;
  left: 3.5rem;
  top: 0.7rem;
  margin: 0;
}

.rotation {
  animation-name: rotation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(365deg);
  }
}

.nav .list__item {
  margin: 0 1.5rem;
  color: var(--color-secondary);
}
.nav__logo-text {
  display: inline-block;
  color: var(--color-accent);
  font-weight: bold;
  margin-left: 0;
  margin-right: 3rem;
  font-size: 2rem;
}
.nav__href-logo {
  height: 42px;
  z-index: 1;
}
